


<ion-nav-view>

<ion-view view-title="Login" class="LoginBackground" >
   <ion-content scroll="false" >
      <div class="LoginButtom" >
      
        <label class=" item-input">
          <span class="input-label">Username</span>
          <input class="" type="text" ng-model="loginData.username" autofocus>
        </label>
        <label class=" item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
          <button class="button button-block button-login" ng-click="doLogin()">Log in</button>
          <button class="button button-block button-register" ng-click="register()">Join Us</button>
      </div>
   
  </ion-content>
</ion-view>
  </ion-nav-view>




